/* import desde google fonts */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:wght@300;400;600;800&display=swap");
/* imports base */
.flex-column, .visual_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fceed1;
  color: #FE7748;
  font-family: "Open Sans", sans-serif;
}
body a {
  text-decoration: none;
  color: #FE7748;
  font-size: 20px;
}

ul {
  list-style: none;
}

.bi-facebook {
  color: blue;
}

.bi-whatsapp {
  color: rgb(56, 129, 56);
}

.bi-instagram {
  color: rgb(47, 20, 73);
}

.bi:hover {
  color: #6CAEAD;
}

.menu {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1, h2 {
  text-align: center;
  font-family: "Marcellus", serif;
}
h1.h1, h2.h1 {
  font-size: 24px;
}
h1.h2, h2.h2 {
  font-size: 20px;
}

.logo img {
  height: 60px;
  padding: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 50px;
}

.visual_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.texto_tecnicas {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 15px;
}

.bg-custom-color {
  background-color: #fceed1;
}

.nav-link {
  color: #FE7748;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.nav-link.active {
  color: #6CAEAD;
}

.navbar-nav {
  margin-left: auto;
  color: #FE7748;
}
.navbar-nav .nav-link:hover {
  color: #6CAEAD;
}

.dropdown-menu {
  background-color: #fceed1;
}
.dropdown-menu .dropdown-item {
  background-color: #fceed1;
  color: #FE7748;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.dropdown-menu .dropdown-item:hover {
  color: #6CAEAD;
}

/* imports layout */
.bienvenida {
  font-family: "Marcellus", "Open-Sans";
  text-align: center;
  padding: 10px 80px;
  margin: 5px;
}
.bienvenida h1 {
  margin: 15px;
}

.main-box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}
.main-box .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #fd9f9d;
  border-radius: 5px;
  text-align: center;
  width: 30%;
}
.main-box .box img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.main-box .box .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", "sans-serif";
  font-size: 15px;
}
.main-box .box .contenido .boton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: solid 2px #fd9f9d;
  border-radius: 15px;
  width: 40%;
  margin-top: 10px;
}
.main-box .box .contenido .boton:hover {
  box-shadow: 1px 2px 5px 2px #6CAEAD;
  color: #6CAEAD;
  border: solid 2px #6CAEAD;
  border-radius: 55px;
}
.main-box .box h2 {
  padding: 10px;
}
.main-box .box img {
  height: 350px;
  padding: 10px;
  object-fit: cover;
}

.bio_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.image-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.text-container {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  border: solid #fd9f9d;
  border-radius: 10px;
  padding: 15px;
}

.img_flowmo {
  height: 300px;
  padding: 10px;
}

.video_flowmo {
  height: 300px;
  width: auto;
  padding: 10px;
}

.img_ballet {
  height: 300px;
  padding: 10px;
}

.img_tense {
  height: 350px;
  padding: 10px;
  object-fit: cover;
}

.flyer {
  height: 400px;
  width: 300px;
}

.eventos_actuales {
  display: flex;
  justify-content: center;
}

.titulito {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_eventos {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

.texto_suscripcion {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 15px;
}

.formulario_contacto {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 5px;
}
.formulario_contacto label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.formulario_contacto input,
.formulario_contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 5px;
}
.formulario_contacto button {
  width: 100%;
  padding: 10px;
  background-color: #FE7748;
  color: #FCEED1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.suscripcion {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  gap: 10px;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .visual_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    gap: 2px;
  }
  .visual_content .img_ballet {
    width: auto;
  }
  .visual_content .vid_ballet {
    width: auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-box {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .main-box .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #fd9f9d;
    border-radius: 5px;
    text-align: center;
    width: 600px;
  }
  .main-box .box img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .main-box .box .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", "sans-serif";
    font-size: 15px;
  }
  .main-box .box .contenido .boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid 2px #fd9f9d;
    border-radius: 15px;
    width: 40%;
    margin-top: 10px;
  }
  .main-box .box .contenido .boton:hover {
    box-shadow: 1px 2px 5px 2px #6CAEAD;
    color: #6CAEAD;
    border: solid 2px #6CAEAD;
    border-radius: 55px;
  }
}
@media (max-width: 480px) {
  .main-box {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .main-box .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #fd9f9d;
    border-radius: 5px;
    text-align: center;
    width: 30%;
  }
  .main-box .box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .main-box .box .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", "sans-serif";
    font-size: 15px;
  }
  .main-box .box .contenido .boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid 2px #fd9f9d;
    border-radius: 15px;
    width: 40%;
    margin-top: 10px;
  }
  .main-box .box .contenido .boton:hover {
    box-shadow: 1px 2px 5px 2px #6CAEAD;
    color: #6CAEAD;
    border: solid 2px #6CAEAD;
    border-radius: 55px;
  }
}
.bienvenida {
  font-family: "Marcellus", "Open-Sans";
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.bienvenida h1 {
  margin: 5px;
}

.visual_content {
  gap: 2px;
}
.visual_content .img_ballet {
  width: auto;
}
.visual_content .vid_ballet {
  width: auto;
}

.suscripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
