.bio {
    height: 500px;
    width: auto;
    object-fit: cover;
    border: solid #FD9F9D;
    border-radius: 10px;
 }
 .bio_content {
    display: flex;
    justify-content: center;
    padding: 15px;
 }
 .bio_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    border: solid #FD9F9D;
    border-radius: 10px;
 }